@import "tailwindcss";
@plugin "daisyui";

:root {
  --background: #c9dbba;
  --foreground: white;
  --primary: #c9dbba;
  --accent: #c9dbba;
  --header: #121212;
  --card: #d2dfed;
  --link: #ac8cc4;
  --hover: #a5c38d;
}

@theme inline {
  --color-button: #c9dbba;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-header: var(--header);
  --color-card: var(--card);
  --color-link: var(--link);
  --color-hover: var(--hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #121212;
    --foreground: #e0e0e0;
    --accent: #06402b;
    --primary: #344527;
    --header: #06402b;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.pixel-corners {
  clip-path: polygon(
    0px calc(100% - 6px),
    3px calc(100% - 6px),
    3px calc(100% - 3px),
    6px calc(100% - 3px),
    6px 100%,
    calc(100% - 6px) 100%,
    calc(100% - 6px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 3px),
    calc(100% - 3px) calc(100% - 6px),
    100% calc(100% - 6px),
    100% 6px,
    calc(100% - 3px) 6px,
    calc(100% - 3px) 3px,
    calc(100% - 6px) 3px,
    calc(100% - 6px) 0px,
    6px 0px,
    6px 3px,
    3px 3px,
    3px 6px,
    0px 6px
  );
}
